.container {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}

.navbar {
    margin: 30px auto;
    text-align: center;

}
.navbar-menu {
    display: inline-block;
}
.navbar_item {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: red;
    margin-right: 70px;     
}
.image {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.title_text {
font-size: 22px;
font-weight: 700;
text-align: center;
text-transform: uppercase;
margin: 38px auto;
}

.main_text {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 30px 68px;

}
.button-box {
    text-align: center;
    margin: 80px auto;
}

.my_btn { text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 12px;
    background-color: red;
    text-transform: uppercase;
    border: 4px;
    padding: 20px 42px;
    margin: 50px auto;}
   

.footer {
    text-align: right;
    margin-bottom: 30px;
    margin-right: 105px;
}
.footer_text {
height: 16px;
font-weight: 700;
}